*{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #e3e1d2;
}
html{
    height: 100vh;
}

.titel-img{
    position: absolute;
    width: 100%;
    top: -20px;
    z-index: -1;
}

body{
    background-image: url(Jele_44_mit_rauschen.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;
    height: 100vh;

    padding-top: 15px;
    overflow: hidden;
}

h1{
    font-weight: 600;
    color: #B069FF;
    font-size: 62px;
    /* text-shadow: 0 0 10px #B069FF; */
    text-align: center;
}
a{
    text-decoration: underline;
    color: #e3e1d2;
}
a:hover{
    text-decoration: none;
    color: #e3e1d2;
}
p{
    /* text-shadow: -1px -1px 0px rgba(255, 0, 255, .5), 1px 1px 0px rgba(0, 255, 255, .5); */
    text-shadow: 2px 2px 0px #232323 ;
    font-size: 16px;
    margin-bottom: 0;
}

.modal p{
    text-shadow: none;
    font-size: 16px;
    color: #e3e1d2;
}
.some{
    float:right;
}

.some img{
    width: 50px;
    margin-right: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.booking{
    margin-top: 35vh;
    text-align: right;
}

.eprelease{
    text-align: right;
}

.upcoming{
    margin-top: 75px;
}

.fotoClaim{
    line-height: 60px;
    font-size: 8px;
}

.row{
    margin-right: 0;
  margin-left: 0;
}

.spendeButton{
    position: fixed;
    bottom: 60px;
    left: 10px;
    background-color:#cb5e73;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 14px #cb5e73;
    cursor: pointer;
}
.spendeButton span{
    color: #e3e1d2;
    font-size: 10px;
    width: 100%;
}

.modal button{
    width: 20px;
    position: absolute;
    right: 4px;
    top: 0px;
    z-index: 10;
}
.modal-content{
    background-color: #cb5e73;
}
.close span{
    color: #e3e1d2;
    text-shadow: none;
}
@media (min-width: 576px) { 
    body{
        padding-top: 15px;
    }
    .spendeButton{
        position: relative;
        bottom: 0;
        left: 0;
    }
 }

@media (min-width: 768px) { 
    
 }

@media (min-width: 992px) { 
    body{
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0px -545px;
        background-color: black;
    }

    .spendeButton{
        height: 120px;
        width: 120px;
        margin-top: -50px;
    }

    .spendeButton span{
        font-size: 16px;
    }

    .booking{
        margin-top: 20vh;
        text-align: right;
    }
    p{
        font-size: 26px;
    }
    .fotoClaim{
        font-size: 14px;
    }
    .titel-img{
        top: 10vh;
    }
 }

@media (min-width: 1200px) { 
    body{
        padding-top: 40px;
    }
 }

@media (min-width: 1400px) { 
    body{
        padding-top: 120px;
    }
 }