*{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #7B9897;
}
html{
    height: 100vh;
}

body{
    background-image: url(Jele_23_blass_kornung_web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;
    height: 100vh;

    padding-top: 15px;
    overflow: hidden;
}

h1{
    font-weight: 600;
    color: #B069FF;
    font-size: 62px;
    text-shadow: 0 0 10px #B069FF;
    text-align: center;
}
a{
    text-decoration: none;
    color: #7B9897;
}
a:hover{
    text-decoration: none;
    color: #7B9897;
}
p{
    text-shadow: -1px -1px 0px rgba(255, 0, 255, .5), 1px 1px 0px rgba(0, 255, 255, .5);
    font-size: 18px;
    margin-bottom: 0;
}
.some{
    float:right;
}

.some img{
    width: 50px;
    margin-right: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.booking{
    margin-top: 40vh;
    text-align: right;
}

.upcoming{
    margin-top: 2vh;
}

.fotoClaim{
    line-height: 60px;
    font-size: 12px;
}

.row{
    margin-right: 0;
  margin-left: 0;
}

@media (min-width: 576px) { 
    body{
        padding-top: 15px;
    }
 }

@media (min-width: 768px) { 
    
 }

@media (min-width: 992px) { 
    body{
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0px -545px;
        background-color: black;
    }

    .booking{
        margin-top: 20vh;
        text-align: right;
    }
    p{
        font-size: 24px;
    }
    .fotoClaim{
        font-size: 18px;
    }
 }

@media (min-width: 1200px) { 
    body{
        padding-top: 40px;
    }
 }

@media (min-width: 1400px) { 
    body{
        padding-top: 120px;
    }
 }